<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guet_unknown.bookstoreserver.mvc.mapper.AddressMapper">

    <resultMap type="com.guet_unknown.bookstoreserver.mvc.domain.Address" id="AddressMap">
        <result property="addressId" column="address_id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="addressProvince" column="address_province" jdbcType="VARCHAR"/>
        <result property="addressCity" column="address_city" jdbcType="VARCHAR"/>
        <result property="addressDetail" column="address_detail" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="AddressMap">
        select address_id,
               user_id,
               name,
               phone,
               address_province,
               address_city,
               address_detail,
               create_time,
               update_time
        from address
        where address_id = #{addressId}
    </select>

    <!--查询所有-->
    <select id="queryAll" resultMap="AddressMap">
        select *
        from address
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(*)
        from address
        <where>
            <if test="addressId != null">
                and address_id = #{addressId}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
            <if test="addressProvince != null and addressProvince != ''">
                and address_province = #{addressProvince}
            </if>
            <if test="addressCity != null and addressCity != ''">
                and address_city = #{addressCity}
            </if>
            <if test="addressDetail != null and addressDetail != ''">
                and address_detail = #{addressDetail}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>
    <select id="queryByUserId" resultMap="AddressMap">
        select *
        from address
        where user_id = #{userId}
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="addressId" useGeneratedKeys="true">
        insert into address(user_id, name, phone, address_province, address_city, address_detail, create_time,
                            update_time)
        values (#{userId}, #{name}, #{phone}, #{addressProvince}, #{addressCity}, #{addressDetail}, #{createTime},
                #{updateTime})
    </insert>

    <insert id="insertBatch" keyProperty="addressId" useGeneratedKeys="true">
        insert into address(user_id, name, phone, address_province, address_city, address_detail, create_time,
        update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.userId}, #{entity.name}, #{entity.phone}, #{entity.addressProvince}, #{entity.addressCity},
            #{entity.addressDetail}, #{entity.createTime}, #{entity.updateTime})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="addressId" useGeneratedKeys="true">
        insert into address(user_id, name, phone, address_province, address_city, address_detail, create_time,
        update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.userId}, #{entity.name}, #{entity.phone}, #{entity.addressProvince}, #{entity.addressCity},
            #{entity.addressDetail}, #{entity.createTime}, #{entity.updateTime})
        </foreach>
        on duplicate key update
        user_id = values(user_id),
        name = values(name),
        phone = values(phone),
        address_province = values(address_province),
        address_city = values(address_city),
        address_detail = values(address_detail),
        create_time = values(create_time),
        update_time = values(update_time)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update address
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="addressProvince != null and addressProvince != ''">
                address_province = #{addressProvince},
            </if>
            <if test="addressCity != null and addressCity != ''">
                address_city = #{addressCity},
            </if>
            <if test="addressDetail != null and addressDetail != ''">
                address_detail = #{addressDetail},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where address_id = #{addressId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from address
        where address_id = #{addressId}
    </delete>

</mapper>



